@model SShop.Models.ChuckNorris.ChuckNorrisViewModel

<div class="container">

    <form method="post">
        <div class="container">
        </div>
        <br />
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <button asp-controller="ChuckNorris" asp-action="Chuck" class="btn btn-primary">Joke</button>
            </div>
        </div>
    </form>

</div>